@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body, html {
    width: 100vw;
    height: 100vh;
}

body {
    background: black url(../imagens/celular.webp) no-repeat;
    background-size: cover;
    background-position: center center;
}

menu > ul {
    list-style-type: none;
}


